html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e3047+0,000000+10,000000+90,261e38+100 */
background: #0e3047; /* Old browsers */
background: -moz-linear-gradient(left,  #0e3047 0%, #000000 10%, #000000 90%, #261e38 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0e3047), color-stop(10%,#000000), color-stop(90%,#000000), color-stop(100%,#261e38)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0e3047 0%,#000000 10%,#000000 90%,#261e38 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0e3047 0%,#000000 10%,#000000 90%,#261e38 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0e3047 0%,#000000 10%,#000000 90%,#261e38 100%); /* IE10+ */
background: linear-gradient(to right,  #0e3047 0%,#000000 10%,#000000 90%,#261e38 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3047', endColorstr='#261e38',GradientType=1 ); /* IE6-9 */

}

#master-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

/*****************/
/* CABINET */
/*****************/

#cabinet {
    height: 100%;
}

/*****************/
/* GAME */
/*****************/

#game {
    overflow: visible;
}

/*****************/
/* MENU */
/*****************/

#menuView {
    overflow-x: hidden;
    color: lime;
    font-family: 'Lucida Console';
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.menuSelected {
    margin-left: 32px;
    margin-right: 32px;
    cursor: pointer;
}

    .menuSelected:hover {
        font-size: 40px;
    }

/*****************/
/* PANEL */
/*****************/

#panel {
    width: 100%;
    padding-top: 8px;
    min-width: 200px;
    display: block;
}

/*****************/
/* GENERIC */
/*****************/

.boxContainer {
	position: relative;
	width: 100%;
}

.boxContainer:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.box {
    position: absolute;
	top: 0;
	left: 0;
    width: 100%;
	height: 100%;
}

.hardware {
    position: relative;
    top: 0;
    width: 75%;
    min-width: 200px;
    max-width: 512px;
    background: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.transition150 {
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
