html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    color: black;
    margin: 0px;
}

#master-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

/*****************/
/* GAME */
/*****************/

#viewport {
    position: relative;
    top: 0;
    width: 640px;
    height: 100%;
    min-height: 640px;
    overflow: visible;
    background: black;
}

#glCanvas {
    width: 640px;
    height: 640px;
}

/*****************/
/* CABINET */
/*****************/

#cabinet {
    position: relative;
    top: 0;
    width: 640px;
    height: 100%;
    padding-top: 64px;
    color: lime;
    background: black;
    font-family: 'Lucida Console';
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.cabinetSelected {
    margin-left: 32px;
    margin-right: 32px;
    cursor: pointer;
}

    .cabinetSelected:hover {
        font-size: 40px;
        text-shadow: 0px 0px 8px rgba(255, 235, 158, 1);
    }


/*****************/
/* GENERIC */
/*****************/

.center {
    margin-left: auto;
    margin-right: auto;
}

.transition150 {
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}